@use 'functions' as *;
@use "sass:math";
@use "sass:map";
@use "sass:list";

/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  
  --white: hsl(0, 0%, 98%);
  --slate-300: hsl(240, 10%, 85%);
  --slate-600: hsl(240, 10%, 57%);
  --slate-900: hsl(240, 21%, 20%);
  --purple-hover : hsl(268, 55%, 77%);
  --purple-300: hsl(268, 100%, 86%);
  --purple-600: hsl(268, 34%, 53%);
  --cyan-hover : hsl(192, 54%, 64%);
  --cyan-300: hsl(192, 90%, 77%);
  --cyan-600: hsl(192, 37%, 48%);
  --cyan-600-overlay: hsla(192, 37%, 48%, .8);
  
  --ff-body: "Red Hat Display", system-ui;
  
  --fz-1: calc(40 / 16 * 1rem);
  --fz-2: calc(32 / 16 * 1rem);
  --fz-3: calc(12 / 16 * 1rem);
  --fz-4: calc(16 / 16 * 1rem);
  --fz-5: calc(16 / 16 * 1rem);
  
  --s-1500: calc(120 / 16 * 1rem);
  --s-1400: calc(112 / 16 * 1rem);
  --s-1300: calc(104 / 16 * 1rem);
  --s-1200: calc(96 / 16 * 1rem);
  --s-1100: calc(88 / 16 * 1rem);
  --s-1000: calc(80 / 16 * 1rem);
  --s-900: calc(72 / 16 * 1rem);
  --s-800: calc(64 / 16 * 1rem);
  --s-700: calc(56 / 16 * 1rem);
  --s-600: calc(48 / 16 * 1rem);
  --s-500: calc(40 / 16 * 1rem);
  --s-400: calc(32 / 16 * 1rem);
  --s-300: calc(24 / 16 * 1rem);
  --s-200: calc(16 / 16 * 1rem);
  --s-150: calc(12 / 16 * 1rem);
  --s-100: calc(8 / 16 * 1rem);
  --s-50: calc(4 / 16 * 1rem);
}

*,*::before,*::after {box-sizing: inherit;}

:not(ul, ol, li) {margin: 0;}

body {
  width: inherit;
  height: inherit;
  font-optical-sizing: auto;
  font-family: var(--ff-body);
  background-color: var(--white);
  overflow-x: hidden;
}
/* #endregion Defaults */

/* #region Reusable CSS */
.grid {
  display: grid;
}

.text-preset-1 {
  color: var(--slate-900);
  font-size: var(--fz-1);
  font-weight: 900;
  line-height: 1.1em;
}

.text-preset-2 {
  color: var(--slate-900);
  font-size: var(--fz-2);
  font-weight: 900;
  line-height: 1.1em;
}

.text-preset-3 {
  color: var(--cyan-600);
  font-size: var(--fz-3);
  font-weight: 900;
  line-height: 1.1em;
  letter-spacing: var(--s-50);
}

.text-preset-4 {
  color: var(--slate-600);
  font-size: var(--fz-4);
  font-weight: 500;
  line-height: 1.5em;
}

.text-preset-5 {
  color: var(--white);
  font-size: var(--fz-5);
  font-weight: 900;
  line-height: 1.5em;
}

@include mobile-media-query(768px) {
  html {
    --fz-1: calc(48 / 16 * 1rem);
    --fz-2: calc(36 / 16 * 1rem);
    --fz-3: calc(14 / 16 * 1rem);
  }
}

@include mobile-media-query(1150px) {
  html {
    --fz-1: calc(64 / 16 * 1rem);
    --fz-2: calc(40 / 16 * 1rem);
    --fz-3: calc(16 / 16 * 1rem);
    --fz-4: calc(18 / 16 * 1rem);
  }
}

.button {
  display: inline-flex;
  text-decoration: none;
  column-gap: var(--s-50);
  padding: var(--s-200) var(--s-500);
  border-radius: rem(29px);
  transition: background-color .4s;
}

.button-blue {
  background-color: var(--cyan-600);
  
  > span {
    color: var(--cyan-300);
  }
  
  &:hover {
    background-color: var(--cyan-hover);
  }
}

.button-purple {
  background-color: var(--purple-600);
  
  > span {
    color: var(--purple-300);
  }
  
  &:hover {
    background-color: var(--purple-hover);
  }
}

.number {
  display: grid;
  place-items: center;
  color: var(--slate-600);
  width: var(--s-700);
  height: var(--s-700);
  border-radius: 100vmax;
  border: rem(1px) solid var(--slate-300);
  position: relative;
  margin-block-start: var(--s-1000);
  
  &::before {
    content: '';
    position: absolute;
    top: -150%;
    width: rem(1px);
    height: var(--s-1000);
    background-color: var(--slate-300);
  }
}
/* #endregion Reusable CSS */

/* #region Mobile 375px */
header {
  height: clamp(4.75rem, 2.4643rem + 4.7619vw, 6.75rem);
  place-items: end center;
}

.hero {
  place-items: center;
  padding: var(--s-800) var(--s-300) var(--s-400);
  row-gap: var(--s-600);
}

.container {
  text-align: center;
}

.hero__image {
  overflow-x: hidden;
}

.hero__img {
  height: clamp(10rem, 1.4719rem + 36.3868vw, 18.9375rem);

  &[src*=desktop] {
    display: none;
  }
}

.hero__content {
  row-gap: var(--s-300);
}

.hero__description {
  max-width: rem(448px);
}

.hero__buttons {
  place-items: center;
  row-gap: var(--s-200);
}

.main {
  padding: var(--s-400) var(--s-300) var(--s-800);
}

.main__content {
  row-gap: var(--s-800);
  place-items: center;
}

.main__images {
  grid-template-columns: repeat(2, 1fr);
  gap: var(--s-200);
}

.main__img {
  border-radius: var(--s-100);
}

.main__text {
  row-gap: var(--s-200);
  max-width: rem(544px);
}

.main__subtitle {
  text-transform: uppercase;
}

.main__title {
  margin-block-end: var(--s-200);
}

.footer {
  place-items: center;
}

.footer__content {
  position: relative;
  place-items: center;
  row-gap: var(--s-300);
  margin-block-start: rem(108px);
  padding: var(--s-800) var(--s-300);
  width: 100%;
  height: rem(392px);
  background-image: url(../images/mobile/image-footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cyan-600-overlay);
  }

  > .number {
    position: absolute;
    bottom: calc(100% - var(--s-700)/2);
    background-color: var(--white);
  } 
}

.footer__title,
.footer__description,
.footer__button {
  color: var(--white);
  z-index: 1;
}

.footer__description {
  max-width: rem(504px);
}
/* #endregion Mobile 375px */

/* #region Extra Small 320px */
@include desktop-media-query(374px) {
  .hero {
    padding: var(--s-700) var(--s-200) var(--s-300);
    row-gap: var(--s-600);
  }
  
  .main {
    padding: var(--s-300) var(--s-200) var(--s-700);
  }
  
  .main__img {
    height: var(--s-1500);
  }

  .footer__content {
    padding: var(--s-700) var(--s-200);
  }  
}
/* #endregion Extra Small 320px */

/* #region Tablet 768px */
@include mobile-media-query(768px) {
  .hero {
    padding: var(--s-800) rem(44px);
    row-gap: var(--s-900);
  }
  
  .hero__buttons {
    grid-auto-flow: column;
    place-content: center;
    column-gap: rem(17px);
  }
  
  .main {
    padding: var(--s-700) var(--s-400) var(--s-800);
  }
  
  .main__images {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--s-300);
  }

  .footer__content {
    height: rem(320px);
    background-image: url(../images/tablet/image-footer.jpg);
    background-position: top center;
  }
}
/* #endregion Tablet 768px */

/* #region Desktop 1150px */
@include mobile-media-query(1150px) {
  .hero {
    max-width: rem(1362px);
    grid-auto-flow: column;
    margin-inline: auto;
    position: relative;
  }
  
  .hero__image {
    display: none;
  }
  
  .hero__img {
    &[src*=desktop] {
      position: absolute;
      display: block;
      height: clamp(18.9375rem, 1.125rem + 23.75vw, 22.5rem);
    }

    &[src*=left] {
      left: clamp(-4.875rem, -14.625rem + -21.6667vw, -1.625rem);
    }

    &[src*=right] {
      right: clamp(-4.875rem, -14.625rem + -21.6667vw, -1.625rem);
    }
  }
  
  .hero__content {
    row-gap: var(--s-400);
  }
  
  .main {
    padding: var(--s-700) var(--s-1000) var(--s-900);
  }
  
  .main__images {
    gap: var(--s-400);
  }
  
  .main__img {
    height: clamp(11.5rem, -6.3448rem + 24.8276vw, 16rem);
    width: clamp(11.5rem, -6.3448rem + 24.8276vw, 16rem);
  }
  
  .footer {
    text-align: initial;
  }
  
  .footer__content {
    grid-auto-flow: column;
    place-content: space-evenly;
    height: rem(312px);
    background-image: url(../images/desktop/image-footer.jpg);
  }
  
  .footer__title {
    width: rem(330px);
  }
  
  .footer__description {
    width: rem(355px);
  }
}
/* #endregion Desktop 1150px */