@use 'functions' as *;
@use "sass:math";
@use "sass:map";
@use "sass:list";

/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;

  --white: hsl(0, 0%, 98%);
  --slate-300: hsl(240, 10%, 85%);
  --slate-600: hsl(240, 10%, 57%);
  --slate-900: hsl(240, 21%, 20%);
  --purple-hover : hsl(268, 55%, 77%);
  --purple-300: hsl(268, 100%, 86%);
  --purple-600: hsl(268, 34%, 53%);
  --cyan-hover : hsl(192, 54%, 64%);
  --cyan-300: hsl(192, 90%, 77%);
  --cyan-600: hsl(192, 37%, 48%);

  --ff-body: "Red Hat Display", system-ui;

  --s-1400: calc(112 / 16 * 1rem);
  --s-1000: calc(80 / 16 * 1rem);
  --s-900: calc(72 / 16 * 1rem);
  --s-800: calc(64 / 16 * 1rem);
  --s-700: calc(56 / 16 * 1rem);
  --s-500: calc(40 / 16 * 1rem);
  --s-400: calc(32 / 16 * 1rem);
  --s-300: calc(24 / 16 * 1rem);
  --s-200: calc(16 / 16 * 1rem);
  --s-150: calc(12 / 16 * 1rem);
  --s-100: calc(8 / 16 * 1rem);
  --s-50: calc(4 / 16 * 1rem);
}

*,*::before,*::after {box-sizing: inherit;}

:not(ul, ol, li) {margin: 0;}

body {
  width: inherit;
  height: inherit;
  font-optical-sizing: auto;
  font-family: var(--ff-body);
  background-color: var(--white);
}
/* #endregion Defaults */

/* #region Reusable CSS */
.grid {
  display: grid;
}

.text-preset-1 {
  font-size: rem(64px);
  font-weight: 900;
  line-height: 1.1em;
  color: var(--slate-900);
}

.text-preset-2 {
  font-size: rem(40px);
  font-weight: 900;
  line-height: 1.1em;
  color: var(--slate-900);
}

.text-preset-3 {
  font-size: rem(16px);
  font-weight: 900;
  line-height: 1.1em;
  letter-spacing: rem(4px);
  color: var(--cyan-600);
}

.text-preset-4 {
  font-size: rem(18px);
  font-weight: 500;
  line-height: 1.1em;
  color: var(--slate-900);
}

.text-preset-5 {
  font-size: rem(16px);
  font-weight: 900;
  line-height: 1.5em;
  color: var(--slate-900);
}

.logo {

}

.button {
  display: inline-block;
  text-decoration: none;
  padding: rem(16px) rem(40px);
  border-radius: rem(29px);
  color: var(--white);
  transition: background-color .4s;
}

.button-blue {
  background-color: var(--cyan-600);

  > span {
    color: var(--cyan-300);
  }

  &:hover {
    background-color: var(--cyan-hover);
  }
}

.button-purple {
  background-color: var(--purple-600);

  > span {
    color: var(--purple-300);
  }

  &:hover {
    background-color: var(--purple-hover);
  }
}

.number {

}

/* #endregion Reusable CSS */

/* #region Mobile 375px */
main {
  width: inherit;
  height: inherit;
  display: grid;
  place-content: center;
}

/* #endregion Mobile 375px */

/* #region Extra Small 320px */
@include desktop-media-query(374px) {
  
}
/* #endregion Extra Small 320px */

/* #region Desktop 768px */
@include mobile-media-query(768px) {
  
}

/* Desktop Active */

/* #endregion Desktop 768px */